/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/
#titles{
  display: flex;
  flex-direction: row;
}
.categoryname{
  background-color: #060ce9;
  color: white;
  margin: 1px;
  width: 16vw;
  height: 8vh;
}

td{
  background-color: #060ce9;
  color: white;
  margin: 1px;
  width: 16vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

tbody{
  display: flex;
}

div{
  font-size: 80%;
  text-align: center;
}

.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}